/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.example-sidenav-content, .mat-drawer-content {
  background-color: #202020;
}
.example-sidenav {
  background-color: black;
}
